{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="bg-gray-400 font-serif leading-normal tracking-normal">
		<nav
  class="block w-full max-w-screen-lg px-4 py-2 mx-auto my-4 bg-white bg-opacity-90 sticky top-3 shadow lg:px-8 lg:py-3 backdrop-blur-lg backdrop-saturate-150 z-[9999] rounded-full"
>
  <div
    class="container flex flex-wrap items-center justify-between mx-auto text-slate-800"
  >
    <h1 class="font-bold text-xl">
      Expense Tracker
    </h1>

    <!-- Mobile menu button -->
    <button
      id="menu-btn"
      aria-label="Toggle menu"
      class="relative ml-auto h-6 max-h-[40px] w-6 max-w-[40px] select-none rounded-lg text-center align-middle text-xs font-medium uppercase text-inherit transition-all hover:bg-transparent focus:outline-none focus:bg-transparent active:bg-transparent disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none lg:hidden"
      type="button"
    >
      <span
        class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M4 6h16M4 12h16M4 18h16"
          ></path>
        </svg>
      </span>
    </button>

    <!-- Menu -->
    <div
      id="menu"
      class="hidden w-full lg:flex lg:w-auto"
    >
      <ul
        class="flex flex-col gap-2 mt-2 mb-4 text-center lg:mb-0 lg:mt-0 lg:flex-row lg:items-center lg:gap-6"
      >
        <li class="flex items-center p-1 text-sm gap-x-2 text-slate-600 justify-center">
          <a href="{% url 'home' %}" class="flex items-center">Dashboard</a>
        </li>
        <li class="flex items-center p-1 text-sm gap-x-2 text-slate-600 justify-center">
          <a href="{% url 'expense' %}" class="flex items-center">Expense</a>
        </li>
        <li class="flex items-center p-1 text-sm gap-x-2 text-slate-600 justify-center">
          <a href="{% url 'login' %}" class="flex items-center">Signin</a>
        </li>
        <li class="flex items-center p-1 text-sm gap-x-2 text-slate-600 justify-center">
          <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="flex items-center text-slate-600 hover:text-red-600">
              Logout
            </button>
          </form>
        </li>
      </ul>
    </div>
  </div>

  <script>
    const btn = document.getElementById('menu-btn');
    const menu = document.getElementById('menu');

    btn.addEventListener('click', () => {
      menu.classList.toggle('hidden');
    });
  </script>
</nav>

		{% block content %}
    {% endblock %}
	</body>
